#main {
    width: 30rem;
    height: 50rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    float: left;
}
p.col {
    margin-top:8rem;
    height: 10rem;
}

#Tasti {
    
    margin-left: 10rem;
    margin-top: 10rem;
    display: flex;
    /* justify-content: space-around; */

}
.col button {
    display: flex;
    flex-wrap: nowrap;
   /*  margin-top: 5rem; */
    margin-left: 1.3rem;
    margin-top: 1.3rem;
}



#call1 {
    margin-top: 3.6rem;
   margin-left:12.3rem;
   
  
}

button #call1 {
    font-size: 1.5rem;
    border-radius: 100%;
    /* justify-content: space-around; */
}


/* #display {
    margin-top:7.5rem ;
    margin-left:9.7rem ;
} */